html {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.menu {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    background-color: darkkhaki;
    opacity: 0.7;
    padding-top: 20px;
    text-align: center;
    color: honeydew;
    box-shadow: 0px 1px 16px 14px rgba(0,0,0,0.6);
}

.menu1 {
    background-color: black;
    width: 50px;
    vertical-align: top;
    text-align: center;
}

.sousMenu {
    display: inline-block;
    padding: 0 100px 100px;
}

.menu .sousMenu :not(.titre){
    transition: color;
    transition-duration: 1s;
}

.menu .sousMenu:hover :not(.titre){
    color: darkorange;
}

.menu .sousMenu :not(.titre){
    display: none;
}

.sousMenu:hover .menu1{
    display: table;
    overflow: hidden;
    padding-top: 10px;
    box-shadow: 0 17px 12px 6px rgba(0,0,0,0.5);
}

.sousMenu:hover :nth-child(2){
    margin-top: 30px;
}
